<launch>
  <arg name="config_file" default="$(find dlrobot_autocontrol)/config/autocontrol.yaml" />

  <group ns="dlrobot">
    <node pkg="dlrobot_autocontrol" type="autocontrol_node.py" name="autocontrol" output="screen">
      <param name="config_file" value="$(arg config_file)" />
    </node>

    <include file="$(find auto_recharge_ros)/launch/auto_recharger_node.launch" />

    <node pkg="dlrobot_mqtt" type="mqtt_bridge_node.py" name="mqtt_bridge" output="screen">
      <param name="config_file" value="$(find dlrobot_mqtt)/config/topics.yaml" />
    </node>

    <node pkg="web_video_server" type="web_video_server" name="web_video_viewer" output="screen">
      <param name="port" value="8080" />
      <param name="fps" value="15" />
    </node>
  </group>
</launch>
